<div class="main-content">
	<div class="container no-padding">
    <div class="row">
      <div class="col-md-offset-9">
        <p class="text-right">
          <small>English</small>
          |
          <small>Portuguese</small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 l-content">
        <app-navigation></app-navigation>
      </div>
      <div class="col-md-9 r-content">
        <div class="flexslider">
					<div class="slides">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
